---
title: Category
layout: default
description: Make it work, make it right, make it fast.
header-img: "src/img/space.jpg"
---

{% include intro-header.html type='page' short=true %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <!-- search section -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include search-section.html %}
        </div>
      </div>

      <!-- category section -->
      <div class="mini-post-list js-result">
        <section id="category">
          {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="{{ category_name | downcase }}" class="category_item">
              <span class="fa listing-seperator">
                <span class="tag-text">{{ category_name }}</span>
              </span>
              {% for post in site.categories[category_name] %}
              <div class="post-preview post_item" id="{{ post.id }}">
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h2 class="post-title">
                    {{ post.date | date: "%Y-%m-%d" }} &raquo; {{ post.title }}
                  </h2>
                  {% if post.subtitle %}
                  <h3 class="post-subtitle">
                    {{ post.subtitle }}
                  </h3>
                  {% endif %}
                </a>
                <hr>
              </div>
              {% endfor %}
            </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>