<section>
    <div class="input-group bottom-search">
        <input type="text" class="form-control" placeholder="Search" id="searchInput">
        <span class="input-group-addon" id="searchBtn">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
    </div>
</section>
<span id="searchHint" style="display: none;">No Result Found</span>

<script type="text/javascript">
$(document).ready(function() {
    let searcher = nfSearcher.newSearcher({
        $searchInput: $("#searchInput"),
        $searchBtn: $("#searchBtn"),
        $searchHint: $("#searchHint"),
        $groups: $(".category_item"),
        $items: $(".post_item")
    });
    searcher.register();

    let url = new URL(window.location.href);
    let searchText = url.searchParams.get("search");
    if (searchText) {
        searcher.search(searchText);
        searcher.$searchInput.val(searchText);
    }
});
</script>